* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to left, #42a866, #279b90);
}
#ProductList {
  display: flex;
  flex-wrap: wrap;
}
#ProductList .product {
  height: 100%;
  width: 30%;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 10px solid cornflowerblue;
  margin: 15px;
  border-radius: 20px;
  background-color: white;
}

.product .list_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#ProductList .product .product_name {
  font-weight: bold;
}
#ProductList .product .mota {
  font-size: 20px;
  font-style: italic;
}
button {
  font-size: 1.5rem !important;
}
.fa-shopping-cart {
  position: absolute;
  right: 2rem;
  top: 1.2rem;
  color: black;
  font-size: 3rem !important;
  cursor: pointer;
}
.total-qty {
  position: absolute;
  height: 1.2rem;
  width: 1.2rem;
  background: white;
  color: black;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  line-height: 1rem;
  font-weight: 600;
  top: 1rem;
  right: 1.5rem;
  user-select: none;
}
.nav {
  position: fixed;
  right: 20px;
  top: 20px;
}
/* cart  */
.cart {
  background-color: #343a40;
  position: relative;
  border-radius: 20px;
  display: none;
  position: fixed;
  top: 20%;
  right: 20%;
  left: 20%;
}
.cart tr:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.cart .item_img {
  width: 10%;
}
.cart img {
  width: 100%;
  height: 100%;
}
.btn_left {
  border-radius: 50%;
  color: white;
  background-color: #454d55;
}
.btn_right {
  border-radius: 50%;
  color: white;
  background-color: #454d55;
}
#totalSp {
  font-weight: bold;
  color: white;
  font-size: 25px;
  margin-right: 29px;
  z-index: 2;
  margin-top: 2px;
}
.fa-times {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: white;
  cursor: pointer;
}
